@import url('https://fonts.googleapis.com/css?family=Poppins');


.section {
	height: 80vh;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 5)),
		url('/meat.svg');
}
.container{
	font-size: 40px;
	text-align: center;
	line-height: 1;	
}

.img{
	clip-path: circle();
}






