@import url('https://fonts.googleapis.com/css?family=Poppins');

/* First Section */
.section {
	min-height: 100vh;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 6)),
		url('../public/noodles.svg');
}
.container1{
	margin: 400px 100px 0px;
	width: 500px;
	line-height: 1;	
}

.Text{
	color: var(--white);
	font-size: 22px;
	font-style: italic;
}
.title{
	margin: 5px 0px 20px;
	font-family: 'Poppins';
	font-weight: lighter;
	font-size: 70px;
}
.button{
	height: 40px;
	width: 250px;
	text-align: center;
	font-size: 20px;
	margin: 80px 0px 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.btn1{
	margin: 5px 15px 0px ;
}
.btn2{
	background-color: var(--color);
	width: 70px;
	text-align: center;
	color: var(--white);
	border: 1px solid orange;
	border-top-left-radius: 30px;
}
.img_slider{
	width: 400px;
}

/* second section */

.container{
	height: 50vh;
	width: 100%;
	background: var(--secondary-color);
}
.feature{
	text-align: center;
}
.subtitle{
	font-size: 25px;
	color: var(--primary-color);
}
.info{
	padding: 20px;
	text-align: center;
	margin: 0px 100px 0px;
}



